.slider {
  position: relative;

  margin-bottom: 32px;
  @media (min-width: $bp_tablet_horizontal) {
    margin-bottom: 0;
    margin-left: 24px;
  }
  >input {
    display: none;
  }
}

@media (min-width: $bp_tablet_vertical) {
  .slider--only-mobile {
    .slider {
      margin-bottom: 0;
    }
    .slide {
      position: static;
      z-index: 1;

      height: 100%;

      transform: initial;

      opacity: 1;
      @media (min-width: $bp_tablet_vertical) {
        height: initial;
      }
    }
    .slider-track {
      overflow: visible;
    }
    .slider-controls {
      display: none;
    }
  }
}

.slider-track {
  overflow: hidden;

  height: inherit;
}

.slide {
  position: absolute;
  z-index: 0;

  display: flex;
  float: left;
  flex-direction: column;

  width: 100%;
  height: inherit;

  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transform: scale(0);

  opacity: 0;
  &__image {
    display: block;

    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
  }
}

.slider-controls {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (min-width: $bp_tablet_horizontal) {
    top: 0;
    right: 100%;
    bottom: 0;
    left: unset;

    flex-direction: column;

    width: 24px;
  }
  >label {
    position: relative;

    width: 8px;
    height: 8px;
    margin: 24px 12px 0;

    cursor: pointer;

    border-radius: 50%;
    background-color: $color_accent;
    @media (min-width: $bp_tablet_horizontal) {
      margin: 12px 16px 12px 0;
    }
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: '';
      transition: transform .2s ease-out;
      transform: scale(0);

      border-radius: 50%;
      background-color: #000;
    }
    &:hover {
      transition: opacity .2s ease-out;

      opacity: 0.7;
    }
  }
}

@media (min-width: $bp_tablet_horizontal) {
  .slider--right-control {
    flex-direction: column;

    margin-right: 24px;
    .slider-controls {
      top: 0;
      bottom: 0;
      left: 100%;

      width: 24px;
      >label {
        margin: 12px 0 12px 16px;
      }
    }
  }
}

#slide1:checked~.slider-controls label:nth-of-type(1),
#slide2:checked~.slider-controls label:nth-of-type(2),
#slide3:checked~.slider-controls label:nth-of-type(3),
#slide11:checked~.slider-controls label:nth-of-type(1),
#slide12:checked~.slider-controls label:nth-of-type(2),
#slide13:checked~.slider-controls label:nth-of-type(3),
#slide21:checked~.slider-controls label:nth-of-type(1),
#slide22:checked~.slider-controls label:nth-of-type(2),
#slide23:checked~.slider-controls label:nth-of-type(3) {
  opacity: 1;
  &::before {
    transform: scale(1);
  }
}

#slide1:checked~.slider-track>.slide:nth-of-type(1),
#slide2:checked~.slider-track>.slide:nth-of-type(2),
#slide3:checked~.slider-track>.slide:nth-of-type(3),
#slide11:checked~.slider-track>.slide:nth-of-type(1),
#slide12:checked~.slider-track>.slide:nth-of-type(2),
#slide13:checked~.slider-track>.slide:nth-of-type(3),
#slide21:checked~.slider-track>.slide:nth-of-type(1),
#slide22:checked~.slider-track>.slide:nth-of-type(2),
#slide23:checked~.slider-track>.slide:nth-of-type(3) {
  z-index: 1;

  transform: scale(1);

  opacity: 1;
}
