$bp_tablet_vertical: 768px;
$bp_tablet_horizontal: 1024px;
$bp_desktop: 1440px;
$bg_gradient: linear-gradient(-180deg, #d7edff 0, #fffeda 100%);

@import './reset';
@import './base';
@import './slider/slider';
@import './header/header';
@import './expectation/expectation';
@import './work/work'
